### macOS ###
.DS_Store

### Xcode ###
DerivedData/
build/
xcuserdata/
project.xcworkspace/xcuserdata/

### SwiftPM ###
.build/

### OpenCV ###
Vision/Cpp/opencv2.framework/
Vision/Cpp/opencv2/
Vision/Cpp/opencv-*/

### C++ #
*.o
*.a
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

### User Files ###
*.swp
*.lock
*.tmp
